#name: Spring Boot CI
#
#on:
#  push:
#    branches:
#      - "main"
#
#jobs:
#  build:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Setup Java
#        uses: actions/setup-java@v3
#        with:
#          distribution: temurin
#          java-version: 17
#
#      - name: Build project
#        run: mvn clean package


name: Spring Boot CI

on:
  push:
    branches:
      - shubham_2.0
#      - main

env:
  DEPENDENCY_GRAPH_ENABLED: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - run: mvn clean package
